# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production

# macOS-ish/OS junk
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/
